body {
    font-family: Monaco, Consolas, monospace;
}

.main {
    margin-top: 72px;
}

input {
    font-family: Monaco, Consolas, monospace;
}

p.text-danger {
    padding: 4px 0 0 4px;
}

p.ip-read-only {
    font-family: Monaco, Consolas, monospace;
    font-size: 1.1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
}

p.totals {
    padding: 0;
    margin: 8px 4px 0 0;
}

div.page-nav {
    margin-bottom: 10px;
}

#forkongithub a {
    background: #f00;
    color: #eee;
    text-decoration: none;
    /*font-family: arial, sans-serif;*/
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 0.9rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #c11;
    color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #0ff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #forkongithub a {
        width: 280px;
        position: absolute;
        top: 48px;
        right: -72px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}